<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<h3>List of users:</h3>
<% @users.each do |user| %>
  <% followers = user.followers%>
  <% email = user.email %> 
  <%= link_to email, user_path(user)%>
  <% if followers.include?(current_user)%>
    <%= button_to "Unfollow", user_follow_path(user, current_user), method: :delete %>
  <% elsif user == current_user %>
  <% else %>
    <%= button_to "Follow", user_follows_path(user) %>
  <%end%>
  <br>
<%end%>