/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 .navbar {
  display: flex;
  max-width: 30em;
  margin: 1em auto;
 }

 .header {
  display: flex;
  flex-direction: column;
  max-width: 30em;
  margin: 1em auto;
  align-content: center;
 }

 .navbar .navlink {
  display: flex;
  justify-content: flex-start;
  margin: auto;
 }

 .hidden {
  display: none;
}

.post {
  border-style: solid;
  margin: 1em;
  max-width: 30em;
  margin: 1em auto;
}

.profpic {
  height: 5em;
  width: 5em;
  display: block;
}

.content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: 4px;
  grid-template-areas:
    "pic post-body"
    "pic post-details"
    "pic post-like-details"
    
}

.pic {
  grid-area: pic;
  align-self: center;
}

.post-body {
  grid-area: post-body;
}

.post-details {
  grid-area: post-details;
}

.post-like-details {
  grid-area: post-like-details;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: 4px;
  display: grid;
  grid-template-areas:
    "like-counter like-interactions"
}

.like-counter {
  grid-area: like-counter;
}

.like-interactions {
  grid-area: like-interactions;
}

.comment {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
  grid-template-areas:
    "comment-content comment-interactions"
}

.comment-content {
  grid-area: comment-content;
}

.comment-interactions {
  grid-area: comment-interactions;
}

.post-buttons {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 4px;
  grid-template-areas:
    "comment-button details-button"
}

.comment-button {
  grid-area: comment-button;
}

.details-button {
  grid-area: details-button;
  margin-left: auto;
}

.user-index {
  border-style: solid;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: 4px;
  max-width: 30em;
  margin: 1em auto;
  grid-template-areas:
    "pic user-details"
    "pic user-follow-button"
}

.user-details {
  grid-area: user-details;
}

.user-follow-button {
  grid-area: user-follow-button;
  margin-top: auto;
}